<div class="buffer-top">
  <span class="subscription">
  <% if subscription.user.present? %>
    <%= render partial: 'users/user', object: subscription.user %>
  <% else %>
    <em><%= subscription.user_name %></em>
  <% end %>&nbsp;
    <% if current_user_can_edit?(subscription) %>
      <%= link_to fa_icon('trash-o'),
                  event_subscription_path(subscription.event, subscription),
                  method: :delete,
                  data: {confirm: t('.destroy_confirm')}
      %>
    <% end %>
  </span>
</div>

