.my-nav {
  background-color: transparent;
  padding: 10px;
  border: none;
}

.my-brand {
  float:left;
}

.round {
  border-radius: 50%;
}
.round-sm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-my {
  background-color: transparent;
  border: 1px solid #a1a1a1;
  color: #428bca;
}

.btn-my-del {
  background-color: #ffcbcc;
  border: 1px solid #a1a1a1;
  color: #428bca;
}

.btn-my:hover {
  background-color: #89beff;
  color: white;
  -webkit-transition: background-color ease 0.6s;
  transition: background-color ease 0.6s;
}

.btn-ml {
  margin-left: 10px;
}

.pp {
  color: #428bca;
  font-family: 'Montserrat', sans-serif;
}

.pad {
  padding: 15px;
}

.my-top {
  margin-top: 20px;
}

.my-border {
  border: 1px solid black;
}

.my-comment {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
}

.my-toggle {
  color: white;
}