body {
  /*background: url("https://i.pinimg.com/originals/42/78/3c/42783c5c7c01a8ccafc9224b8a121680.jpg") no-repeat fixed center / cover;*/
  background: url("bg2.jpg") no-repeat fixed center / cover;
}

.my-nav {
  background-color: transparent;
  padding: 5px;
}

.my-brand {
  float:left;
}

.round {
  border-radius: 50%;
}
.round-sm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-ml {
  margin-left: 10px;
}

.pp {
  color: #428bca;
  font-family: 'Montserrat', sans-serif;
}
